body{
    font-family: sans-serif;
  
}

#grid {
    width: 450px;
    display:inline;
}

#grid li {
    width: 150px;
    height: 100px;
    border-style: solid black;
    float: left;
}

.formContent{
    display: flex;
    align-content: center;
    justify-content: center;
}
